* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f9faf7;
  color: #333;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
  padding: 18px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #7cb342;
}

.logo img {
  width: 38px;
}


nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #8dc63f;
}


.btn-donate {
  margin-left: 20px;
  padding: 10px 22px;
  background: #8dc63f;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.btn-donate:hover {
  background: #1c2c45;
  color: #fff;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding-left: 100px;
}

.hero-text h1 {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
  animation: slideFromRight 1s ease forwards;
}

.hero-text h1 span {
  color: #8dc63f;
}

.hero-text p {
  margin: 20px 0;
  max-width: 480px;
  line-height: 1.6;
  color: #555;
  animation: slideFromRight 1.2s ease forwards;
}

/* CTA BUTTON */
.btn-primary {
  padding: 14px 32px;
  background: #8dc63f;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #1c2c45;
  color: #fff;
}


.hero-image img {
  width: 100%;
  max-width: 420px;
  animation: slideFromBottom 1.2s ease forwards
}


@media (max-width: 768px) {
  .hero-grid {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: none;
  }

  .hero-image img {
    margin-top: 40px;
  }
}

.hero-text .btn-primary {
  animation: slideFromRight 1.4s ease forwards;
}

.hero-text h1,
.hero-text p,
.hero-text .btn-primary,
.hero-image img {
  opacity: 0;
}


/* TEXT SLIDE FROM RIGHT */
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* IMAGE SLIDE FROM BOTTOM */
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}










/* INFO SECTION */
.info-section {
  padding: 100px 0;
  background: #fff;
}

.info-grid {
  display: flex;
  align-items: center;
  gap: 60px;
}

.video-box {
  width: 100%;
  max-width: 520px;
  position: relative;
}

.video-box video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.info-content {
  max-width: 520px;
}

.info-item {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.info-number {
  min-width: 45px;
  height: 45px;
  background: #8dc63f;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-item h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
}

.info-item p {
  color: #666;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .info-grid {
    flex-direction: column;
  }
   .video-box {
    margin-top: 30px;
  }
  
}






/* FUNDRAISING SECTION */
.fundraising-section {
  padding: 60px 0 100px;
  background: #fafafa;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 60px;
  color: #666;
}

.fund-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.fund-card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.fund-card:hover {
  transform: translateY(-8px);
}

.fund-card img {
  width: 100%;
  border-radius: 6px;
}

.fund-card h3 {
  margin: 18px 0 10px;
  font-size: 18px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background: #8dc63f;
  transition: width 1.5s ease-in-out;
}


@media (max-width: 900px) {
  .fund-grid {
    grid-template-columns: 1fr;
  }
}






/* THINK GLOBALLY SECTION */
.think-section {
  padding: 100px 0;
  background: #fff;
  text-align: center;
  padding-left:100px;
  padding-right: 100px;
}

.think-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.think-subtitle {
  max-width: 650px;
  margin: 0 auto 60px;
  color: #777;
  line-height: 1.6;
}

.think-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.think-box img {
  width: 90px;
  margin-bottom: 20px;
}

.think-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.think-box p {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
}


@media (max-width: 900px) {
  .think-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}







/* STATS SECTION */
.stats-section {
  background: url("assets/wewn img.jpg") center/cover no-repeat;
  padding: 120px 0;
  margin-bottom: 50px;
  position: relative;
}

.stats-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.stats-overlay {
  position: relative;
  z-index: 2;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
  color: #fff;
}

.stat-box h2 {
  font-size: 48px;
  font-weight: 700;
}

.stat-box p {
  font-size: 16px;
  margin-top: 8px;
  letter-spacing: 1px;
}


@media (max-width: 900px) {
  .stats-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}




/* PARTNERS SECTION */
.partners-section {
  padding: 100px 0;
  background: #ffffff;
  text-align: center;
}

.partners-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 60px;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.partners-grid img {
  max-width: 140px;
  filter: grayscale(0%);
  transition: all 0.4s ease;
  transform: scale(1);
  cursor: pointer;
}


.partners-grid img:hover {
  filter: grayscale(100%);
  transform: scale(0.92);
}


@media (max-width: 992px) {
  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}






/* FOOTER SECTION */
.footer {
  background: #1f1f1f;
  color: #ccc;
  padding: 80px 0 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
}

.footer p {
  font-size: 12px;
  line-height: 1.6;
  color: #bbb;
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

.footer-links a:hover {
  color: #fff;
}


.footer-map {
  max-width: 100%;
  opacity: 0.9;
}


.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-bottom p {
  font-size: 12px;
  color: #fff;
}
.socials{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.socials p {
  font-size: 14px;
  color: #fff;
}
.socials a {
  color: #ccc;
  margin-left: 15px;
  text-decoration: none;
}

.socials a:hover {
  color: #8dc63f;
}


@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}






/* ABOUT HEADER */
.about-header {
  background: #f9faf7;
  padding: 120px 0 80px;
  text-align: center;
}

.about-header h1 {
  font-size: 42px;
  font-weight: 700;
}



/* TEAM SECTION */
.team-section {
  padding: 100px 0;
  background: #fafafa;
  text-align: center;
}

.team-title {
  font-size: 38px;
  margin-bottom: 60px;
  font-weight: 700;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.team-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
  
}


.team-card img {
  width: 140px;
  margin-bottom: 15px;
}

.team-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.team-card p {
  color: #777;
  margin-bottom: 10px;
}

.socials i {
  font-size: 18px;
  margin: 0 8px;
  color: #777;
  transition: 0.3s;
  cursor: pointer;
}

.socials i:hover {
  color: #8dc63f;
}


@media (max-width: 900px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}



.socials i {
  font-size: 18px;
  margin: 0 8px;
  color: #777;
  transition: 0.3s ease;
  cursor: pointer;
}


.socials i:hover {
  color: #8dc63f;
  transform: scale(1.2);
}


.socials {
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}

.socials i {
  font-size: 13px;
  color: #777;
  transition: 0.3s ease;
  cursor: pointer;
}

.socials i:hover {
  color: #8dc63f;
  transform: scale(1.2);
}




/* CONTACT HEADER */
.contact-header {
  background: #f9faf7;
  padding: 120px 0 80px;
  text-align: center;
}

.contact-header h1 {
  font-size: 42px;
  font-weight: 700;
}



.contact-section {
  padding: 100px 0;
  background: #f9faf9;
}

.contact-container {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
padding-left: 100px;
  padding-right: 100px;

}

.contact-map iframe {
  width: 500px;
  height: 420px;
 
  border: none;
}

.contact-form {
  flex: 1;
}

.contact-form h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.contact-form span {
  color: #8dc63f;
}

.contact-form p {
  color: #666;
  margin-bottom: 20px;
  font-size: 13px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 0px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #8dc63f;
}

.contact-form button {
  background: #8dc63f;
  color: #fff;
  padding: 14px 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #1c2c45;
}


@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
}







/* BACK TO TOP BUTTON */
#backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background: #8dc63f;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.3s ease;
}

#backToTop:hover {
  background: #6fae30;
  transform: translateY(-4px);
}





/* Floating Wrapper */
.floating-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 9999;
  margin-bottom: 80px;
  
}


.floating-info {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 10px 14px;
  
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.floating-info .count {
  font-size: 20px;
  font-weight: 700;
  display: block;
  color: #000;
  padding-right: 3px;
}

.floating-info .text {
  font-size: 13px;
  color: #000;
}


.floating-buy {
  background: #ff1744;
  color: #fff;
  text-decoration: none;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.floating-buy:hover {
  background: #e60032;
  transform: translateY(-2px);
}


.floating-buy i {
  font-size: 16px;
}
