body {
  background: #cfcfcf;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container {
  width: 700px;
  margin: 40px auto;
  
  
}

table {
  width: 100%; 
  border:none;
  background: #d9d9d9;
}

th {
  background: #9e9e9e;
  color: #000;
  padding: 8px;
  border: none;
  font-weight: bold;
  text-align: center;
}

td {
  border: none;
  padding: 6px 10px;
  font-size: 14px;
}

.group {
  background: #b0b0b0;
  font-weight: bold;
  text-align: center;
}
