* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

body {
  background: #fff;
  color: #333;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin:5px;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin: 10px;
  color: #007bff;
  text-decoration: underline;
}

/* CONTAINER */
.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* ABOUT */
.about {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.about-text {
  flex: 1;
}

.about-map {
  width: 400px;
}

.about ul {
  margin-top: 10px;
  padding-left: 20px;
}

.about-map iframe,
.map-section iframe {
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
}

.btn-toggle {
  margin-top: 10px;
  width: 100%;
  color: #000;
  padding: 5px;
  border: 2px solid #ccc;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  border: 1px solid #ddd;
  padding: 15px;
  background: #fafafa;
}

.card h3 {
  margin-bottom: 10px;
}

/* TODO */
.todo-input {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.todo-input input {
  flex: 1;
  padding: 6px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.btn-add {
  background: #007bff;
  color: #fff;
  border: none;
  margin-top: 5px;
  height: 40px;
  cursor: pointer;
  width: 60px;
}

.note {
  background: #fddf7e;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #ccc;
}

/* TIMER */
.timer {
  text-align: center;
  margin: 15px 0;
}

.btn-group {
  text-align: center;
}

/* FORM */
input,
textarea {
  padding: 6px;
  margin: 5px;
}

textarea {
  height: 80px;
  resize: vertical;
  vertical-align: top;
}

.error {
  color: red;
  font-size: 12px;
}

.success {
  color: green;
  font-size: 13px;
  margin-top: 10px;
}

.checkbox {
  margin: 8px 0;
}

/* BUTTONS */
.btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.btn.outline {
  background: #fff;
  color: #007bff;
  width: 100%;
  border: 1px solid #007bff;
}

.btn-clear {
  background-color: #c0bbbb;
  border: 1px solid #767575;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  width: auto;
}

.clear-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}


/* MAP SECTION */
.map-section {
  margin-top: 30px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  font-size: 14px;
}
