body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
}

header {
  text-align: center;
}

nav a {
  margin: 0 10px;
  
  color: #1a73e8;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

.flex {
  display: flex;
justify-content: space-between;
    
}

figure img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

iframe {
  width: 50%;
  height: 300px;
  border: none;
}

input[type="text"], input[type="email"] {
  width: 40%;
  padding: 6px;
  margin-bottom: 10px;
}
textarea{
    width: 40%;
    height: 100px;
    padding: 6px;
    margin-bottom: 10px;
    vertical-align: top
}

button {
  padding: 6px 14px;
}

.center {
  text-align: center;
  font-style: italic;
}

footer {
  text-align: center;
  font-size: 14px;
}
